body{
   text-align: center;
   font-size: 20px;
   font-family: Helvetica;
   flex-wrap: wrap;
   color: white;
   background-color: grey;
}
fielset{
border-color: darkslategray;
background-color: floralwhite;
border-width: 5px;
}
